
.App {
  text-align: center;
}


.nav {
  background:black;
}
.carro{ 

  padding: 10px;
  margin-right: 150px;
  width: 50px;
  height: 45px;
  display: inline-flex;


}


body{
  background-color: #C9C5DE;
}

.r{
  height: 350px;
  width: 265px;
  border-radius: 5px;
}
ul{
   overflow: hidden;
  background:linear-gradient(120deg,#21aba5;#224972);
  text-decoration: none;
  margin-bottom: 20px;
}

li{
  float: left;
  list-style-type: none;
  padding: 11px;
}
 li a{
  text-decoration: none;
  display: block;
  font-size: 25px;
}
h3{
  font-size: 30px;
  color:#7667C4;
}
h4{
  font-size: 20px;
  color:#7667C4;
}
.contador{
  
  align-items: center;
  

}
button{
  background-color: #7667C4;
  color:#ffffff;
  size: 25px;
  border:none;
}


label{
  background-color: #fffff;
  width: 300px;
}